@use '../../../shared/shared.styles' as theme;

.container {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;

    .icon {
        height: 150px;
        width: 150px;
        font-size: 150px;
        margin: 0 auto;
    }


    .mat-headline-2 {
        color: theme.getColor(theme.$primary-palette, 500);
    }

    .mat-headline-5 {
        color: theme.getColor(theme.$primary-palette, 500);
    }

    .cta-container {
        display: flex;
        align-items: center;
        gap: 32px;
        justify-content: center;
    }

    .repoLinkContainer {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-content: center;

        &>img {
            height: 48px;
            width: 48px;
            fill: theme.getColor(theme.$primary-palette, 500);
        }

        &>a {
            color: theme.getColor(theme.$primary-palette, 500);
            margin: 0;
        }
    }
}

@media only screen and (max-width : theme.$breakPoint-mid) {
    p.mat-headline-5 {
        font-size: 16px;
        padding:0 8px;
    }
}